body {
    margin: 0;
    padding: 0;
}

.carousel {
    width: 80%; /* Sesuaikan lebar sesuai keinginan Anda */
    margin: auto; /* Membuat carousel berada di tengah-tengah */
  }

  .carousel-inner {
    text-align: center; /* Menengahkan gambar di dalam carousel */
  }

  .carousel-item {
    display: inline-block; /* Menampilkan item carousel dalam satu baris */
  }

  .carousel-item img {
    width: 100%;
  }

  @media (max-width: 767px) {
    #carouselExampleCaptions {
      width: 100%; /* Lebar penuh pada layar mobile */
    }
  }

.jumbotron {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jumbotron img {
    width: 80px;
}

.navbar {
    box-shadow: 2px 2px 10px #000;
}

nav div a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.social-media {
    text-align: center;
}

.social-icon {
    width: 30px; 
    height: 30px;
    margin-right: 10px;
}


div ul img {
    width: 100%;
}



/* control music */

.music-card {
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  width:18rem;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 100px;
  border-radius: 50%;
} 

.title {
  margin: 10px 0;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}


.download-btn {
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.download-btn:hover {
  background-color: #219952;
}


/* end-control music */